<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- <%= form.label :title %> -->
    <%= form.text_field :title, id: :event_title, class: "input", placeholder:"Title"%>

  </div>

  <div class="field">
    <!-- <%= form.label :description %> -->
    <%= form.text_field :description, id: :event_description, class: "input", placeholder:"Description" %>
  </div>

  <div class="field">
    <%= form.label :start %> <br>
    <%= form.datetime_select :start, id: :event_start, class: 'soflow-color' %>
  </div>

  <div class="field">
    <%= form.label :end %> <br>
    <%= form.datetime_select :end, id: :event_end %>
  </div>

  <!-- <input type="text" class='datepicker' > -->


  <div class="field">
    <!-- <%= form.label :address %> -->
    <%= form.text_field :address, id: :event_address, class: "input", placeholder:"Address" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
