<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://wwo.bg/wp-content/uploads/19390966_819278911573747_430528242904509520_o-1140x490.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="http://wwo.bg/wp-content/uploads/19402049_819279078240397_3583233436397916740_o-1140x490.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="https://tapptic.com/wp-content/uploads/2017/04/wall-e-1872683_1920-1140x490.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>
</div>

<div class="event_header">
  <h1>Events</h1>
</div>

<!-- <table> -->
  <!-- <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <!-- <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.start %></td>
        <td><%= event.end %></td>
        <td><%= event.address %></td>
        <td><%= link_to 'Show', event, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_event_path(event), class:"btn btn-info" %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-info" %></td>
        <% unless event.user_events.map(&:user_id).include?(current_user.id) %>
          <td><%= link_to 'Join', join_path(user_id: current_user.id, event_id: event.id),method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class="card-deck">
  <% @events.each do |event| %>
  <div class="col-sm-4">
    <div class="card">
      <%= link_to event do  %>
      <img class="card-img-top" src="http://www.bluecc.edu/Home/ShowImage?id=1268&t=635518118421430000" alt="Card image cap">
      <%end%>
      <!-- <%= link_to 'Show', event, class:"btn btn-info" %> -->
      <div class="card-block">
        <h4 class="card-title"><%= event.title %></h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= event.description %></li>
        <li class="list-group-item"><%= event.start %> - <%= event.end %></li>
        <li class="list-group-item"><%= event.address %></li>
      </ul>
      <div class="card-block">
        <p class="card-text">
          <!-- <%= link_to 'Show', event, class:"btn btn-info" %> -->
          <% if current_user.admin? %>
          <%= link_to 'Edit', edit_event_path(event), class:"btn btn-info" %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-info" %>
          <% unless event.user_events.map(&:user_id).include?(current_user.id) %>
          <%= link_to 'Join', join_path(user_id: current_user.id, event_id: event.id),method: :post, class:"btn btn-info" %>
          <% end %>
          <% else %>
          <center>
          <% unless event.user_events.map(&:user_id).include?(current_user.id) %>
          <%= link_to 'Join', join_path(user_id: current_user.id, event_id: event.id),method: :post, class:"btn btn-info" %>
          <% end %>
          <% end %>
          </center>

        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= time_ago_in_words(event.updated_at) %></small>
      </div>
    </div>
  </div>
  <% end %>
  <!-- <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div> -->
  <!-- <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div> -->
</div>

<br>
<% if current_user.admin? %>
<%= link_to 'New Event', new_event_path, class:"btn btn-info" %>
<% end %>
