<center><h2>Sign up As an Organizer</h2></center>
<div class="panelne">
<h3>Create events</h3>
<h3>Validate user status</h3>

  <%= form_for(User.new, as: User.new, url: registration_path(User.new)) do |f| %>
  <%#= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :username, autofocus: true, class: "input", placeholder: "Username"   %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, class: "input", placeholder: "Email"  %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: "input", placeholder: "Password"  %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "input", placeholder: "Password Confirmation"   %>
  </div>

  <%= hidden_field_tag "user[admin]", true%>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
<%#= render "devise/shared/links" %>
