<!-- row 1 -->
<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h3><%= current_user.username %></h3>
    </div>
  </div>
</div>

<!-- row 2 -->

<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="hrs_title">
          <h4>Achieved Hours</h4>
        </div>
        <!-- <h4><%= current_user.username %></h4>
        <% @user_events.each do |ue|%>
        <h5>Event: <%= ue.event.title%></h5>
        <h5> Hours: <%= ue.hours %> </h5>
        <% end %> -->
      </div>
      <div class="hrs_total">
        <h5>Total: <%= current_user.hours %> hours </h5>
      </div>
    </div>
  </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Accomplishments</h4>
          <% @user_events.each do |ue|%>
          <p>I completed <%= ue.event.title%>. </p>
          <h5> Hours: <%= ue.hours %> </h5>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Popular Events</h4>
        </div>
      </div>
    </div>
</div>
<!-- row 3 -->
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Follow</h4>
      </div>
    </div>
  </div>
</div>
