<!-- row 1 -->
<!-- <div class="row">
  <div class="col-xs-12">
    <div class="jumbotron"> -->

      <!-- <%= current_user.username %> -->

      <!-- <%= User.find_by_username(params[:id]).username %> -->

      <!-- <%= render "components/follow_button", :user => User.find_by_username(params[:id]) %> -->
       <!-- <h3><%= current_user.username %></h3> -->

    <!-- </div>
  </div>
</div> -->
<div class="jumbotron">
  <h2 class="display-3"><%= User.find_by_username(params[:id]).username %></h2>
</div>


<!-- row 2 -->

<!-- <div class="row"> -->

  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="http://res.rankedgaming.com/resources/images/profile/default-avatar-male.png" style="width: 50%;" class="profile" alt="">

        <h4><%= User.find_by_username(params[:id]).username %></h4>
    <!-- <%# @user_events.each do |ue|%>
      <h5>Event: <%#= ue.event.title%></h5>
      <h5> Hours: <%#= ue.hours %> </h5>
    <%# end %> -->

        <div class="hrs_title">

        </div>
        <!-- <h4><%#= current_user.username %></h4>
        <%# @user_events.each do |ue|%>
        <h5>Event: <%#= ue.event.title%></h5>
        <h5> Hours: <%#= ue.hours %> </h5>
        <%# end %> -->
      </div>
      <div class="hrs_total">
        <% user = User.find_by_username(params[:id])%>
        <h5>Total Hours: <%= user.hours %></h5>
      </div>
      <div>
        Level: <%= UserEvent.where(user_id: user.id).map(&:level).compact.inject(:+) %>
      </div>

    </div>
  </div>

    <div class="center">

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if !@user_events.present? %>
          <h4>Hi <%= User.find_by_username(params[:id]).username %>, thanks for joining!</h4>
          <h4>Join events, complete them, and compete</h4>
          <% end %>


          <% @user_events.each do |ue|%>
          <% if ue.event.present? %>
          <h4><%= current_user.username %></h4>

          <p>I'm going to <%= link_to ue.event.title%>. </p>
          <% if ue.hours.present? %>
          <h5> Completed Hours: <%= ue.hours %>   </h5>
          <% end %>
            <% if ue.hours.present? %>
          <img src="https://vignette1.wikia.nocookie.net/crashban/images/b/ba/Crash_Nitro_Kart_Green_Gem.png/revision/latest/scale-to-width-down/185?cb=20170520002854" style="width: 15%;" alt="">
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>


    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- <img src="http://www.krux.com/upload/image/company/diagram-events-funnels.png" style="width: 70%; alt=""> -->
          <h4>Current Events</h4>
          <% @user_events.take(3).each do |x| %>
          <% if x.event.present? %>
          <p><%= link_to x.event.title %></p>
          <% end %>
          <% end %>

        </div>
      </div>
    </div>
<!-- </div> -->
<!-- row 3 -->
<!-- <div class="row"> -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="http://www.mrinsta.com/wp-content/uploads/2016/05/free-instagram-followers.png" style="width: 50%;"  alt="">
        <h4>Followers</h4>

        <!-- <h5><%= current_user.followers.count  %></h5> -->
        <%= link_to User.find_by_username(params[:id]).followers.count, "/followers?username=#{params[:id]}" %>



        <h4>Following</h4>
        <%= link_to User.find_by_username(params[:id]).following.count, "/following?username=#{params[:id]}" %>

        <%= render "components/follow_button", :user => User.find_by_username(params[:id]) %>
        </div>
      </div>
    </div>
  </div>
</div>
