<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <%= current_user.username %>


    </div>




  </div>
</div>





<!-- row 2 -->

<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
    <h4><%= current_user.username %></h4>
    <% @user_events.each do |ue|%>
      <h5>Event: <%= ue.event.title%></h5>
      <h5> Hours: <%= ue.hours %> </h5>
    <% end %>
    </div>
  <H4>Total: <%= current_user.hours %> hours </h4>
</div>

  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
    <p>What am I doing?</p>
    <% @user_events.each do |ue|%>
      <p>I completed <%= ue.event.title%>. </p>
      <h5> Hours: <%= ue.hours %> </h5>
    <% end %>
    </div>


  </div>
</div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
    <p>Follow</p>
  </div>
</div>

  </div>
</div>
<!-- row 3 -->
<div class="row">
  <div class="col-xs-3 col-xs-offset-9">
    <div class="panel panel-default">
      <div class="panel-body">
    <p>Popular events</p>
  </div>
</div>

  </div>
</div>
