<div class="bodycontent">
<!-- row 1 -->
<!-- <div class="row">
  <div class="col-xs-12">
    <div class="jumbotron"> -->

      <!-- <%= current_user.username %> -->

      <!-- <%= User.find_by_username(params[:id]).username %> -->

      <!-- <%= render "components/follow_button", :user => User.find_by_username(params[:id]) %> -->
       <!-- <h3><%= current_user.username %></h3> -->

    <!-- </div>
  </div>
</div> -->
<div class="jumbotron">
  <h2 class="display-3"><%= User.find_by_username(params[:id]).username %></h2>
</div>


<!-- row 2 -->

<!-- <div class="row"> -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">

        <%= User.find_by_username(params[:id]).username %>
    <!-- <%# @user_events.each do |ue|%>
      <h5>Event: <%#= ue.event.title%></h5>
      <h5> Hours: <%#= ue.hours %> </h5>
    <%# end %> -->

        <div class="hrs_title">
          <h4>Achieved Hours</h4>
        </div>
        <!-- <h4><%#= current_user.username %></h4>
        <%# @user_events.each do |ue|%>
        <h5>Event: <%#= ue.event.title%></h5>
        <h5> Hours: <%#= ue.hours %> </h5>
        <%# end %> -->
      </div>
      <div class="hrs_total">
        <h5>Total: <%= current_user.hours %> hours </h5>
      </div>

    </div>
  </div>

    <div class="center">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Hi <%= current_user.username %> welcome to GIVUP!</h3>
          <p> Join events, complete them, and compete against friends. </p>
          <p> After you complete an event have a verifier award you points. </p>
          <% @user_events.each do |ue|%>
          <% if ue.event.present? %>
          <h4><%= current_user.username %></h4>

          <p>I completed <%= ue.event.title%>. </p>
          <h5> Hours: <%= ue.hours %> </h5>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>


    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Popular Events</h4>
        </div>
      </div>
    </div>
<!-- </div> -->
<!-- row 3 -->
<!-- <div class="row"> -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">

        <h4>Followers</h4>

        <!-- <h5><%= current_user.followers.count  %></h5> -->
        <%= link_to User.find_by_username(params[:id]).followers.count, "/followers?username=#{params[:id]}" %>



        <h4>Following</h4>
        <%= link_to User.find_by_username(params[:id]).following.count, "/following?username=#{params[:id]}" %>

        <%= render "components/follow_button", :user => User.find_by_username(params[:id]) %>
      </div>
    </div>
  </div>
</div>
</div>
