<div class="bodycontent">
  <img src="http://ilp.mit.edu/images/stex25/tagup_logo.png" alt="" style="width:20%;margin:0 auto;display:block;padding-top:3%;padding-bottom:3%;">
  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <!-- <%= f.label :email %><br /> -->
      <%= f.email_field :email, autofocus: true, class: 'input', placeholder:"Email"  %>
    </div>

    <div class="field">
      <!-- <%= f.label :password %><br /> -->
      <%= f.password_field :password, autocomplete: "off", class: 'input', placeholder:"Password" %>
    </div>
    <div class="actions">
      <%= f.submit "LOG IN", :id => 'login_btn'%>
    </div>
    <% if devise_mapping.rememberable? -%>
    <div class="field-remember" style="color:#666;">
      <%= f.check_box :remember_me%>
      <%= f.label :remember_me %>

      <% end -%>


    </div>
    <% end %>

    <%= render "devise/shared/links"%>
  </div>
</div>
</div>
